body {
	background-color: darkred;
	text-align:center;
}


/*div {
	border: .5px solid darkred;
}*/


#Main-Contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: lightsteelblue;
	width: 70vw; 
 	height: 70vh; 
 	padding: 50px 2px;
 	margin: 0 auto; 
 	border-radius: 50px;

}

#Status-Bar {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: black;
	height: 30px;
	background-color: lightsteelblue;
}

#Tama-Zone {
	height: 85%;
	background-color: lightsteelblue;
	border: 2px solid darkred;
	border-radius: 50px;
}


#Button-Bar {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	height: 50px;

}

#create {
	font-size: 16px;
	border-radius: 50px;
}

#play {
	font-size: 16px;
	border-radius: 50px;
}

#rest {
	font-size: 16px;
	border-radius: 50px;
}

#feed {
	font-size: 16px;
	border-radius: 50px;
}

