body {
	background-color: darkred;
	text-align:center;
	font-family: "Lucida Console", monospace;
}

#Main-Contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: lightsteelblue;
	width: 60vw; 
 	height: 80vh; 
 	padding: 20px;
 	margin: 0 auto; 
 	border-radius: 50px;
}

#Status-Bar {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: black;
	height: 30px;
	background-color: lightsteelblue;
}

#Tama-Zone {
	display: flex;
	flex-direction: column;
	height: 85%;
	background-color: white;
	border: 2px solid darkred;
	border-radius: 50px;
}

#Button-Bar {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	height: 50px;
}

#create-form {
	padding-top: 2px;
}

#tamaImage1 {
	display: flex;
	align-items: center;
	width: 20%;
	border-radius: 50px;
}

#tamaImage2 {
	display: flex;
	align-items: center;
	width: 20%;
	border-radius: 50px;
}

#tamaImage3 {
	display: flex;
	align-items: center;
	width: 20%;
	border-radius: 50px;
}

button {
	font-size: 16px;
	border-radius: 50px;
	border: 2px solid darkred;
	font-family: "Lucida Console", monospace;
}


img {
	display: none;
}














